---
layout: default
---

{% include nav.html %}

<header style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="header-content">
        <div class="header-content-inner">
            <!-- <p>Mathematical sciences talent helping businesses find solutions.</p> -->
            <h1>Solutions Canada</h1>
            <hr>
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Ready for Eureka?</a> -->
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h3 class="section-heading">Is your business ready for eureka?</h3>
            <br>
        </div>
        <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4 text-center">
            <form action="https://formspree.io/learn@insightscanada.org " method="POST">
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="exampleInputPassword1" name="name" placeholder="Your name">
                </fieldset>
                <fieldset class="form-group">
                    <input type="email" class="form-control form-control-lg" name="_replyto" id="exampleInputEmail1" placeholder="Your email" >
                </fieldset>
                <fieldset class="form-group">
                    <textarea class="form-control" id="exampleTextarea" rows="3" name="message" placeholder="Your message"></textarea>
                </fieldset>
                    <input type="submit" value="Send" class="btn btn-primary btn-xl page-scroll">
            </form>
        </div>
    </div>
</header>

{{ content }}
<hr>
